name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      
    - name: Generate Tag
      id: generate_tag
      run: |
        TAG=$(date +%s)
        echo "tag=$TAG" >> $GITHUB_OUTPUT

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_PASSWORD }}

    - name: Build and Push Docker image
      run: |
        docker build ./messaging_app \
          --file ./messaging_app/Dockerfile \
          --tag ${{ secrets.DOCKER_HUB_USERNAME }}/messaging-app:${{ steps.generate_tag.outputs.tag }}
        
        docker push ${{ secrets.DOCKER_HUB_USERNAME }}/messaging-app:${{ steps.generate_tag.outputs.tag }}


