name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build ./messaging_app --file ./messaging_app/Dockerfile --tag my-image-name:$(date +%s)
    # - name: Publish Docker
    #   # You may pin to the exact commit or the version.
    #   # uses: elgohr/Publish-Docker-Github-Action@4feac4d53e4e55dcc5d3e2ad0ed2e0a76028ff7a
    #   uses: elgohr/Publish-Docker-Github-Action@v5
    #   with:
    #     # The name of the image you would like to push
    #     name: 
    #     # The login username for the registry
    #     username: 
    #     # The login password for the registry
    #     password: 
    #     # Use registry for pushing to a custom registry
    #     registry: # optional
    #     # Use snapshot to push an additional image
    #     snapshot: # optional
    #     # Set the default branch of your repository (default: master)
    #     default_branch: # optional
    #     # Use dockerfile when you would like to explicitly build a Dockerfile
    #     dockerfile: # optional
    #     # Use workdir when you would like to change the directory for building
    #     workdir: # optional
    #     # Use context when you would like to change the Docker build context.
    #     context: # optional
    #     # Use buildargs when you want to pass a list of environment variables as build-args
    #     buildargs: # optional
    #     # Use buildoptions when you want to configure options for building
    #     buildoptions: # optional
    #     # Use cache when you have big images, that you would only like to build partially
    #     cache: # optional
    #     # Use tags when you want to bring your own tags (separated by comma)
    #     tags: # optional
    #     # Use tag_names when you want to push tags/release by their git name
    #     tag_names: # optional
    #     # Push semver docker tags. e.g. image:1.2.3, image:1.2, image:1
    #     tag_semver: # optional
    #     # Set no_push to true if you want to prevent the action from pushing to a registry (default: false)
    #     no_push: # optional
    #     # Use platforms for building multi-arch images
    #     platforms: # optional